= form_for(@review) do |f|
  div.fields-container
    .field
      label for="shop_id" Shop
      select name="shop_id" id="shop_select"
        option[value=""] -- Select Shop --
        - @shops.each do |shop|
          option[value="#{shop.id}"] #{shop.name}
    
    .field
      = f.label :product_id, 'Product'
      = f.collection_select :product_id, [], :id, :name, {include_blank: '-- Select Product --'}, {id: "product_select"}
      span#loadingMessage

    .field
      = f.label :rating, 'Rating'
      #ratingContainer
        - (1..5).each do |star|
          span.star[data-rating="#{star}"] ☆
      = f.hidden_field :rating, id: "rating"

    .field
      = f.label :reviewer_name, "Name"
      = f.text_field :reviewer_name, id: "reviewer_name"
    
    .field
      = f.label :body, "Review"
      = f.text_area :body, id: "body"
  
  .actions
    = f.submit "Submit Review"

javascript:
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('shop_select').addEventListener('change', function() {
      const productSelect = document.getElementById('product_select');
      let loadingMessage = document.getElementById("loadingMessage");

      productSelect.disabled = true;
      productSelect.innerHTML = '<option value="">-- Select Product --</option>';
      loadingMessage.textContent = "Fetching products..."
      const shopId = this.value;

      if (shopId) {
        fetch(`/shops/${shopId}/products`)
          .then(response => response.json())
          .then(products => {
            loadingMessage.textContent = "";
            if (products.length > 0) {
              products.forEach(function(product) {
                const option = new Option(product.title, product.id);
                productSelect.appendChild(option);
              });

              productSelect.disabled = false;
            }
          });
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function() {
    const stars = document.querySelectorAll('#ratingContainer .star');
    const ratingInput = document.getElementById('rating');
    
    stars.forEach(star => {
      star.addEventListener('click', function() {
        const rating = this.getAttribute('data-rating');
        ratingInput.value = rating; // Update the hidden input value
        
        stars.forEach(s => {
          s.textContent = s.dataset.rating <= rating ? '★' : '☆';
        });
      });
    });
  });